@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// set the font
$family-sans-serif: "Lato", sans-serif;

// custom colour
$accent: #3087ff;
// overwrite component colours
$grey-dark: #3b3b3b;
$grey-light: #ececec;
// set colours
$link: $accent;
$body-background-color: $grey-light;

// disable column breakpoints for very wide viewports
$fullhd-enabled: false;

// import bulma
@import "../node_modules/bulma/bulma.sass";