**/.DS_Store

**/__pycache__/
**/.ipynb_checkpoints/

**/node_modules/

**/snapshots/**/*.json
**/snapshots/**/*.png
**/snapshots/**/*.zip
**/log
**/results

**/dist/
**/build/
**/*.egg-info/

parse_pixi/src/*.js
